# Ignore everything in the 'socialagent' directory except Python files
/socialagent/*
!/socialagent/__init__.py
!/socialagent/*.py

# Ignore environment-specific files
*.env

# Ignore virtual environments
venv/
env/

# Ignore any local development files and directories
*.log
*.idea/
.vscode/
*.sqlite
*.pyc
*.pyo
__pycache__/
